name: Nix

on:
  push:
  workflow_dispatch:

jobs:
  flakes:
    name: Flakes
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v8

      - name: Check flake
        run: |
          nix flake check

      - name: Build home-manager
        run: |
          nix run .#home-manager -- --version

      - name: Build home configuration
        run: |
          nix run .#home-manager -- build --flake . --no-out-link

      - name: Activate home configuration
        run: |
          nix run .#home-manager -- switch --flake . -b backup

      - name: Print architecture
        run: uname -m

      - name: Fastfetch
        run: fastfetch

  channels:
    name: Channels
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Add channels
        run: |
          rev="$(jq --raw-output '.nodes."home-manager".locked.rev' <flake.lock)"
          nix-channel --add "https://github.com/nix-community/home-manager/archive/$rev.tar.gz" home-manager

      - name: Update channels
        run: nix-channel --update

      - name: Install home-manager
        run: |
          nix-shell '<home-manager>' -A install

      - name: Build home configuration
        run: |
          home-manager build -f home.nix

      - name: Activate home configuration
        run: |
          home-manager switch -f home.nix -b backup

      - name: Fastfetch
        run: fastfetch
